/*font-family; NOTE, use "" when there's fonts with numbers*/
p{
    font-family: Arial;
}
/*Here I used a google font and a backup san-serif if doesn't work*/
h1{
    font-family: Open Sans, sans-serif;
}
/*font-size
there is also em values: size is dynamic. Equal to size of font that applies to
parent of element in question.
Most would set a font-size to the body and then they can manipulate using em.
By default usually 16px
*/

body{
    font-size: 10px;
}
h1{
    font-size: 4.0em;
}
/*Twice size of current font size*/
p{
    font-size: 2.0em;
}
span{
    font-size: 2.0em;
}
/*font-weight: how thick the fonts are
    certain fonts allows usage of numeric values as well from 100-800
    you go by 100s while 100 is lightest and 800 heaviest
*/
p{
    font-weight: bold;
}

/*line-height
    this is the line spacing between each lines    
*/
p{
    line-height: 1.5;
}

/*text-align
    controls how text is aligned: there's left, center, right align;
*/
p{
    text-align: right;
}

/*text-decoration
    gives underline, overline, and strike through
*/
p{
    text-decoration: underline;
}
h1{
    text-decoration: line-through;
}