<!-- Header template (aka partials) -->
<% include partials/header%>

<h1>THis is the home page!</h1>
<img src="https://image.ibb.co/dks8O5/thought_Image.jpg" alt="thought Image" border="0" width="500" />

<!-- Footer template -->
<% include partials/footer%>