<!-- Header template (aka partials) -->
<% include partials/header%>

<!-- We actually don't need public/app.css -->
<link rel="stylesheet" type="text/css" href="app.css">

<h1>The post page</h1>

<% for(var i = 0; i<posts.length; i++){ %>
    <li>
        <%= posts[i].title %> - <strong><%= posts[i].author %></strong>
    </li>
<% } %>

<!-- just this does not list out all of the contents -->
<!-- < % = posts %> -->

<!-- Here is the for each method -->
<%posts.forEach(function(post){%>
    <li>
        <%= post.title %> - <strong><%= post.author %></strong>
    </li>
<% }); %>

<!-- Footer template -->
<% include partials/footer%>