<h1>Search for a Movie</h1>

<!-- a simple search page to grab user input -->
<form action="/results" method="GET" accept-charset="utf-8">
    <!-- remember to add in a name, then whatever we entered will be store in it -->
    <input type="text" name="searched" placeholder="search term">
    <input type="submit">
</form>