<% include partials/header %>
<h1>Create a New Campground</h1>

<form action="/campgrounds" method="POST" accept-charset="utf-8">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button type="">Submit!</button>
</form>

<a href="/campgrounds" title="Return to campgrounds">Go back</a>
<% include partials/footer %>