<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Demo App</title>
        <!-- difference between app.css and /app.css
            without / it only looks for in current directory
            with / says start looking in root directory
         -->
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>
    <body>
