/* Here we edit the size of our font icon*/
i.icon {
    /*double its size*/
    font-size: 2em;
}

/*fixed the navbar from overlapping*/
.container.main{
    margin-top: 7.0em;
}

#delete {
    display: inline;
}